<div class="container">
  <div class="jumbotron">

    <button type="button" class="btn btn-primary col-6 offset-3 mt-5 d-flex justify-content-between">
      <%= link_to "custom a cat", new_cat_path, class: "text-decoration-none text-white m-auto" %>
    </button>
    </div>
  </div>
</div>

